<div style="max-width: 600px; font-family: sans-serif; padding: 20px; border-radius: 10px;">
    <img src="https://groocyv1.vercel.app/static/images/groocy-logo.png" alt="GroocyLogo" style="width: 120px; margin-bottom: 20px;">
    
    <p style="font-size: 16px; line-height: 1.5;">
        Hi <b>{{ username }},</b> <br><br>
        We’re thrilled to have you with us! <br><br>
        Forget the long lines and the heavy trek across campus. From today, your grocery runs just got 10x faster. Whether you’re fueling up for a late-night study session or restocking the essentials, we’ve got your back so you can get back to what matters. <br><br>
        Ready to see how quick it is?
    </p>

    <div style="margin: 30px 0;">
        <a href="https://groocyv1.vercel.app/home" style="background-color: #4CAF50; color: white; padding: 12px 25px; text-decoration: none; border-radius: 5px; font-weight: bold;">Start Shopping</a>
    </div>

    <p style="font-size: 16px; line-height: 1.5;">
        Welcome to the community! <br><br>
        Best wishes,<br>
        Groocy Team
    </p>
    
    <footer style="font-size: 12px; color: #888;">
        Sent with 💚 from <b>Groocy Delivery HQ</b>.
    </footer>
</div>
