{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password | Groocy</title>
    <meta name="author" content="Groocy">
    <meta name="description" content="Groocy is your go-to app for fast delivery, groceries, and essentials.">
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <link href='https://cdn.boxicons.com/fonts/brands/boxicons-brands.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/signup_login.css' %}">
    <link rel="shortcut icon" href="{% static 'images/groocy-head-logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&family=Quicksand:wght@300..700&family=Sora:wght@100..800&display=swap" rel="stylesheet">
</head>
<body>
    <!-- sign up section -->
    <section class="sign-up">
        <img class="logo" src="{% static 'images/groocy-logo.png' %}" alt="">
        <h2>Reset Password</h2>
        <p style="color: #222222; margin: 10px 0; text-align: center;">Enter your email and we'll send an OTP code.</p>

        <form method="POST" class="form-detail">
            {% csrf_token %}
            <label for="email">Enter Registered Email</label>
            <input type="email" name="email" class="input-field" id="email" required>
            <button type="submit" class="submit-btn">Send OTP Code</button>
        </form>
        <p class="navigation-link">Back to <a href="{% url 'login' %}">Login</a></p>
    </section>

    
</body>
</html>